* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.oowaku {
  width: 960px;
  margin: 50px auto;
}

.item-list {
  margin-bottom: 50px;
}

/* リストの文字たち */
.item {
  /* 隙間20px */
  padding: 20px;
  /* 中点のないリスト形式 */
  list-style: none;
}

/* 一連の兄弟要素から奇数の要素を選択 */
/* odd、奇数の、変な、妙な */
.item:nth-child(odd) {
background-color: #eee;
}

.box {
  background-color: #ffd700;
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
}

.box:nth-child(1),
.box:nth-child(5),
.box:nth-child(9) {
  background-color: #ff8c00;
}

/* 3n、兄弟の中で3つおきに要素を選択 */
.box:nth-child(3n) {
  margin-right: 0;
}

.box:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.box-list {
  display: flex;
  flex-wrap: wrap;
}