/* cssリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 10%;
}
/* .headlineのフォントサイズを22pxにする */
.headline {
  font-size: 22px;
}
/* nav内の文字を中央寄せにする */
nav {
  text-align: center;
}
.list {
  padding-left: 40px;
}