.box1 {
  width: 300px;
  height: 300px;
  background-color: #22bdb5;
  margin: 30px;
  padding: 30px;
}

.box2 {
  width: 100px;
  height: 100px;
  background-color: blue;
  /* 指定方法（box2の周囲すべてに枠線を指定する場合） */
  border: 5px solid yellow;
}
