/* cssリセット */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box1 {
  background-size: cover;
  width: 100%;
  height: 200px;
  background-image: url(img/box1.jpg);
  background-position: center;
}

.box1::after{
  content: '';
  position: center;
  width: 200px;
  height: 800px;
  background-color: black;
  opacity: 0.5;
  display:block
}

.box1:after {
  content: "hello";
  top: 100px;
  left: 100px;
  font-size: 50px;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

.box2 {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-image: url(img/box2.jpg);
  background-position: center;
}

.box3 {
  width: 100%;
  height: 200px;
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.box4 {
  width: 100%;
  height: 200px;
  background-image: url(img/box4.jpg);
  background-position: center;
  background-size: cover;
}